body {
  background: url(./img/1.jpg) no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1 {
  color: white;
}
.general {
  text-align: center;
}
.row {
  display: inline-block;
  margin-bottom: 50px;
}
.link-btn {
  display: inline-block;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0px 5px 2px rgba(18, 211, 224, 0.5);
  text-decoration: none;
}
.link-text {
  color: white;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0px 10px;
}
.link-btn:hover {
  background-color: rgb(24, 195, 207);
  color: black;
}
.link-btn:active {
  position: relative;
  top: 2px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  background-color: rgb(10, 158, 243);
}
