/*general*/
html {
  font-size: 100%;
}
body {
  background-color: #2c2c2c;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.conteiner {
  margin: 50px 20px;
}
.box1,
.box2 {
  margin-bottom: 20px;
}

/*main tables*/
table {
  background-color: #2f2f2f;
  table-layout: fixed;
  width: 100%;
  max-width: 900px;
  border-radius: 3px;
  border: 1px solid #525252;
  border-spacing: 0;
}
tr:last-child td {
  border-bottom: none;
}
th,
td {
  padding: 5px 10px;
  border-bottom: 1px solid #525252;
  text-align: left;
}
tbody td:nth-child(2) {
  color: #727272;
}
tbody td:nth-child(3) {
  text-align: right;
}
span.triangle:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid white;
  display: inline-block;
  margin-left: 4px;
}
.dots {
  display: inline-flex;
  vertical-align: middle;
}
.dots span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #727272;
  display: inline-block;
  margin: 3px;
}
/*tables2*/
.box2 .dots span {
  background-color: #fff;
}
input[type="checkbox"] {
  display: none;
}
.box2 label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #3b3b3b;
  border: 0.5px solid #828282;
  border-radius: 1.5px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
input[type="checkbox"]:checked + label:before {
  background-image: url(./img/checkbox2.jpg);
  background-size: cover;
}

/*tables3*/
.box3 .dots span {
  background-color: #fff;
}
.link-pdf {
  display: inline-block;
  position: relative;
  padding-left: 25px;
}
.link-pdf::before {
  content: url(./img/inbox.svg);
  position: absolute;
  left: 0;
  line-height: 0;
  top: 2px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"] {
  font-size: 13px;
  padding-left: 25px;
  width: 100%;
  max-width: 200px;
  height: 22px;
  float: right;
  margin-right: 2px;
  background-color: #444444;
  background-image: url(./img/search.png);
  background-size: 12px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 2px;
}

thead th:last-child {
  padding: 0;
}
