/*reset*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
menu {
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  border: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
  border: none;
  padding: 0;
}

/*typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2.25rem;
  line-height: 1.6;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.6;
}
h3 {
  font-size: 1rem;
  line-height: 1.62;
}

/*button*/

.btn {
  width: 120px;
  height: 40px;
  background: #000000;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-right: 24px;
}

/*main*/

body {
  min-width: 1100px;
  min-height: 600px;
  background: #ffffff;
  color: #000000;
  font-family: "Baloo Bhaina 2", cursive, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
}
.background-grey {
  background: #f5f5f7;
  border-radius: 14px;
}
.subtitle {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 15px;
  min-width: 135px;
}

/*menu*/

.black-menu {
  background: #000000;
  border-radius: 24px;
  color: #ffffff;
  flex-basis: 9.17%;
  margin: 24px 0 24px 32px;
  text-align: center;
  box-shadow: 20px 20px 42px #c1c1c1;
  padding-right: 15px;
  padding-left: 15px;
}
.black-menu li:first-child {
  margin-top: 44px;
  margin-bottom: 100px;
}
.black-menu li:nth-child(3) {
  margin-top: 44px;
}
.black-menu li:nth-child(4) {
  margin-top: 44px;
}
.black-menu li:nth-child(5) {
  margin-top: 44px;
}
.black-menu li:nth-child(6) {
  margin-top: 44px;
}
.black-menu li:last-child {
  margin-top: 227px;
  margin-bottom: 40px;
}
.item-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*main container*/

.main-container {
  flex-basis: 43.05%;
  margin-left: 80px;
  margin-top: 55px;
}
header {
  position: relative;
}
h1 {
  padding: 46px 0 0 32px;
}
.text {
  padding: 0 0 40px 32px;
}
.illustration {
  position: absolute;
  top: -24px;
  right: 104px;
}
.about {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.about__left-side {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.image {
  width: 64px;
  height: 64px;
  background: #ffffff;
  border-radius: 12px;
  margin: 8px 24px 8px 8.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-box {
  width: 151px;
}
.about__left-side__progress {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 45px;
  margin-right: 40px;
}
.about__left-side__progress p {
  position: absolute;
  left: 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
}
.about__right-side {
  display: flex;
  margin-left: 24px;
}
.circcle {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-right {
  margin-right: 16px;
}
.courses {
  margin-top: 40px;
}
.courses-box {
  margin-top: 16px;
}
.courses-box_item {
  display: flex;
  align-items: center;
}
.courses-item_active {
  color: #000000;
}
.courses-item_normal {
  color: #000000;
  opacity: 0.3;
}
.courses-box_item li + li {
  margin-left: 30px;
}
.program-box {
  margin-top: 10px;
}
.time-box {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.rate-box {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.time-box_img {
  align-self: baseline;
  margin-right: 8px;
}
.rate-box_img {
  align-self: baseline;
  margin-right: 10px;
}
.rate-box p {
  margin-right: 31px;
}

/*right-side*/

.right-side-container {
  flex-basis: 30.48%;
  margin: 55px 68px 24px 50px;
}
.right-side-container_top {
  display: flex;
}
.search-box {
  width: 70%;
}
input[type="search"] {
  background: #f5f5f7;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-image: url(./image/graphic-section/search-icon.png);
  background-size: 22px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  font-size: 13px;
  padding-left: 45px;
  padding-right: 15px;
}
.image-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.notification-box {
  align-self: flex-start;
}
.avatar-box {
  margin-left: 20px;
}
.avatar-box img {
  border-radius: 8px;
}
.tick-box {
  margin-left: 10px;
}
.statistic-box {
  display: flex;
  align-items: center;
}
.about-courses-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f7;
  border-radius: 14px;
  width: 100%;
  max-height: 96px;
  margin-top: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
.about-courses-box:nth-child(2) {
  margin-left: 24px;
}
.about-courses-box p:first-child {
  padding-top: 20px;
  padding-right: 12px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.6;
}
.about-courses-box p:nth-child(2) {
  font-family: "Roboto";
  max-width: 76px;
}
.graphic-box {
  margin-top: 40px;
}
.graphic-box_item {
  display: flex;
  align-items: center;
}
.graphic-box_item li:first-child {
  margin-right: 24px;
}
.graphic-box_item-select {
  background: #f5f5f7;
  border-radius: 8px;
  background-image: url(./image/graphic-section/tick-icon.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
  margin-left: auto;
  padding-top: 9px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 6px;
  max-width: 88px;
}
.graphic-box_image {
  margin-top: 32px;
}
.proposition {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background: #f5f5f7;
  border-radius: 14px;
}
.proposition-left-side {
  margin: 24px 0 15px 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.proposition-left-side p {
  max-width: 179px;
}
.proposition-left-side button {
  margin-top: 24px;
}
.banner {
  margin: 0 auto;
}
