.bg-adv1 {
  width: 55px;
  height: 60px;
  background: url("../css_sprites.png") -202px -10px;
  margin-left: auto;
  margin-right: auto;
}
.bg-adv2 {
  width: 55px;
  height: 60px;
  background: url("../css_sprites.png") -277px -10px;
  margin-left: auto;
  margin-right: auto;
}
.bg-adv3 {
  width: 60px;
  height: 54px;
  background: url("../css_sprites.png") -427px -10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.bg-reason2 {
  width: 45px;
  height: 45px;
  background: url("../css_sprites.png") -69px -10px;
  margin-left: auto;
  margin-right: auto;
}
.bg-reason1 {
  width: 55px;
  height: 34px;
  background: url("../css_sprites.png") -352px -10px;
  margin-left: auto;
  margin-right: auto;
}
.bg-reason3 {
  width: 39px;
  height: 57px;
  background: url("../css_sprites.png") -10px -10px;
  margin-left: auto;
  margin-right: auto;
}
.bg-reason4 {
  width: 48px;
  height: 48px;
  background: url("../css_sprites.png") -134px -10px;
  margin-left: auto;
  margin-right: auto;
}
